.Detail {
  display:flex;
  flex-direction:column;
  align-items:center;
  position:relative;
  width:calc(92% - 20px);
  max-width:670px;
  min-width:110px;
  padding:10px;
  margin:10px 4%;
  border-radius:5px;
  background-color:white;
  box-shadow:1px 1px 5px rgba(0,0,0,.3);
}
.Detail > svg {
  margin-top:10%;
  min-height:700px;
}
.profile {
  width:96%;
  display:flex;
  position:relative;
  padding:10px;
}
.profileIcon {
  width:80px;
  height:80px;
  border-radius:50%;
  background-color:rgba(0,0,0,.1);
}
.profile .info {
  padding:16px;
}
.info .name {
  font-weight:bold;
  font-size:1em;
}
.info .level {
  font-size:12px;
  margin-top:5px;
}
.profile .favorite {
  flex:1;
  display:flex;
  justify-content:flex-end;
  align-items:center;
}
.favorite > span {
  font-size:10px;
  color:#777;
  border:1px solid #c6cbcb;
  border-radius:3px;
  padding:3px 5px;
  cursor:pointer;
}
.favorite .starSVG {
  width:14px;
  height:16px;
  margin-right:2px;
  vertical-align:top;
}
.TierInfos {
  display:flex;
  width:100%;
  justify-content:space-around;
}

.TierInfo {
  text-align:center;
}
.TierInfo .tier_rank {
  text-transform:capitalize;
}
.tier_rank > span {
  font-size:11px;
  color:#555;
}
.TierInfo img {
  width:60px;
}
.wins_losses {
  font-size:12px;
}
.Matches {
  width:100%;
  margin-top:10px;
}
.Match {
  width:100%;
  height:100px;
  border:1px solid black;
  display:flex;
  margin:5px 0;
}
.Match.win {
  background-color: #a3cfec;
  border-color: #99b9cf;
}
.Match.loose {
  background-color: #e2b6b3;
  border-color: #cea7a7;
}
.Match .MetaInfo {
  min-width:68px;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  font-size:11px;
  color:#555;
}
.winText {
  color:#1A78AE;
}
.looseText {
  color:#C6443E;
}
.Match .modeText {
  font-weight:700;
}
.MetaInfo > hr {
  margin:5px 0;
  width:40px;
  height:1px;
  border:0;
  background-color:rgba(0,0,0,.3);
}
.Match .ChampionInfo {
  flex:1;
  display:flex;
  align-items:center;
}
.Match .ChampionInfo .column:nth-child(2) {
  min-width:90px;
}
.Match .ChampionInfo .column:nth-child(3) {
  min-width:70px;
  color:#555e5e;
  font-size:11px;
}
.killRatio {
  color:#c6443e;
}
.ChampionInfo .column {
  display:flex;
  flex-flow:column;
  align-items:center;
  margin-left:5px;
}
.ChampionInfo .grid {
  display:grid;
  height:100%;
  grid-template-columns:repeat(4, 22px);
  grid-template-rows:repeat(2, 25px);
  grid-column-gap:3px;
  margin-bottom:6px;
}
.ChampionInfo .grid .championImg {
  grid-area:1/1/2/2;
  display:inline-block;
  min-width:46px;
  min-height:46px;
  width:46px;
  height:46px;
  border-radius:50%;
}
.spell1Img, .spell2Img {
  display:inline-block;
  min-width:22px;
  min-height:22px;
  width:22px;
  height:22px;
  border-radius:3px;
}
.primaryRune {
  grid-area:1/4/2/5;
  display:inline-block;
  min-width:22px;
  min-height:22px;
  width:22px;
  height:22px;
  border-radius:50%;
  background-color:black;
}
.subRune {
  grid-area:2/4/3/5;
  display:inline-block;
  min-width:18px;
  min-height:18px;
  width:18px;
  height:18px;
}
.spell1Img {
  grid-area:1/3/2/4;
}
.spell2Img {
  grid-area:2/3/3/4;
}
.championName {
  font-size:10px;
  color:#555E5E;
}
.kda {
  color:#555E5E;
  font-size:15px;
  font-weight:700;
}
.kda .deaths {
  color:#C6443E;
}
.kdaRatio {
  color:#555E5E;
  font-size:12px;
}
.kdaRatio > span {
  font-weight:700;
}
.largestKill {
  margin-top:5px;
  font-size:10px;
  color:#F2F2F2;
  padding:2px 5px;
  border-radius:15px;
  background-color:#EE5A52;
}
.Match .ItemInfo {
  margin-left:5px;
  flex:1;
  display:flex;
  align-items:center;
  text-align:center;
}
.ItemInfo .grid {
  display:grid;
  height:100%;
  grid-template-columns:repeat(4, 24px);
  grid-template-rows:repeat(2, 24px);
  grid-gap:3px;
}
.ItemInfo .item {
  width:24px;
  height:24px;
  min-width:24px;
  min-height:24px;
  background-color:rgba(0,0,0,.3);
  border-radius:5px;
}
.ItemInfo .item:nth-child(7){
  grid-area:1/4/3/5;
  padding-top:13.5px;
  background-color:#0000;
  height:calc(100% - 13.5px);
}
.item > img {
  width:24px;
  height:24px;
  border-radius:5px;
}
.ItemInfo span {
  color:#353a3a;
  font-size:11px;
}
.Match .TeamInfo {
  flex:1;
  display:flex;
  align-items:center;
  margin-right:10px;
}
.TeamInfo .column {
  flex:1;
  display:flex;
  flex-flow:column;
  justify-content:space-evenly;
  height:100%;
  color:#555;
  font-size:11px;
}
.TeamInfo .column > div {
  width:80px;
  max-width:80px;
  max-height:16px;
}
.TeamInfo a {
  color:#555;
  text-decoration:none;
  margin-left:3px;
  display:inline-block;
  max-width:60px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.TeamInfo img {
  vertical-align: top;
  width:16px;
  height:16px;
  min-width:16px;
  min-height:16px;
}
.DetailButton {
  position:relative;
  min-width:30px;
  border:1px solid black;
  cursor:pointer;
}
.DetailButton.loose {
  border-color: #d67b77;
  background-color: #e89d99;
  color:#c6443e;
}
.DetailButton.win {
  border-color: #4aa1d2;
  background-color: #64b1e4;
  color:#0069a6;
}
.DetailButton .fold{
  font-size:3em;
  font-weight:bolder;
  position:absolute;
  bottom:-8px;
  left:6px;
}
.DetailButton .unfold{
  font-size:2em;
  font-weight:bolder;
  position:absolute;
  bottom:0px;
  left:4.5px;
}
.DetailInfo {
  width:calc(100% + 2px);
  min-height:40px;
  display:flex;
  flex-flow:column;
}
.DetailNav {
  width:calc(100% - 2px);
  min-height:32px;
  border:1px solid black;
  border-bottom:none;
  display:flex;
  align-items:flex-end;
  justify-content: space-evenly;
}
.DetailNav.win {
  border-color: #4aa1d2;
  background-color: #64b1e4;
}
.DetailNav.loose {
  border-color: #d67b77;
  background-color: #e89d99;
}
.DetailNav > div {
  cursor:pointer;
  text-align:center;
  line-height: 28px;
  font-size: 13px;
  font-weight:bold;
  height:28px;
  min-width:156px;
  background-color:white;
  border:1px solid black;
  border-bottom:0;
  border-color: #cdd2d2;
  color:#111;
}
.DetailNav.win .unselected {
  background: #89c8f2;
  border-color: #4aa1d2;
}
.DetailNav.loose .unselected {
  background: #f3aca7;
  border-color: #d67b77;
}
.DetailSummaryTeam {
  border: solid 1px #cdd2d2;
  border-collapse: collapse;
}
.DetailSummaryTeam > thead th {
  color:#555e5e;
  font-size:12px;
  font-weight:normal;
  height: 32px;
}
.DetailSummaryTeam.win > tbody{
  background-color: #d8e4ec;
  border: solid 1px #bacedc;
}
.DetailSummaryTeam.loose > tbody{
  background-color: #e9e0e0;
  border: solid 1px #d8c0be;
}
.Cell {
  color: #555e5e;
  font-size: 11px;
  text-align: center;
  padding: 3px 0;
  vertical-align: middle;
}
.ChampionImage {
  position:relative;
  width:44px;
}
.ChampionImage > img{
  min-width:32px;
  min-height:32px;
  width:32px;
  height:32px;
  border-radius:50%;
}
.ChampionImage > div{
  color: #ddd;
  font-size: 10px;
  border-radius:50%;
  background-color:#515759;
  position:absolute;
  left:4px;
  bottom:4px;
  min-width:13px;
  min-height:13px;
}
.Spell, .Rune {
  width: 18px;
}
.Spell > img, .Rune > img {
  min-width:16px;
  min-height:16px;
  width:16px;
  height:16px;
  border-radius:3px;
}
.Rune > img:nth-child(1) {
  background-color:#000;
  border-radius:50%;
}
.SummonerName {
  max-width:69px;
  padding-left:5px;
  text-align:start;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.SummonerName > a {
  text-decoration:none;
  color: #555e5e;
}
.Tier {
  text-transform:capitalize;
  width: 65px;
}
.KDA {
  width: 76px;
}
.Damage {
  width: 66px;
}
.Ward {
  width: 48px;  
}
.CS {
  width: 55px;
}
.Items {
  width: 170px;
}
.Items > div {
  display:inline-block;
  min-width:22px;
  min-height:22px;
  width:22px;
  height:22px;
  border-radius:3px;
  background-color:rgba(0,0,0,.16);
  margin-left:1px;
}
.Items img {
  width:100%;
  height:100%;
  border-radius:3px;
}
.MaxDamage {
  width:50px;
  height:6px;
  margin:0 auto;
  border: 1px solid #cdd2d2;
  background-color: #f2f2f2;
}
.MaxDamage > div{
  height: 100%;
  margin: -1px;
  border: 1px solid #c6443e;
  background-color: #ee5a52;
}
