.DetailInfo {
  flex:12;
  display:flex;
  flex-direction:column;
  align-items:center;
}
.profile {
  position:relative;
  background-color:white;
  width:60%;
  max-width:700px;
  min-width:110px;
  min-height:86px;
  border-radius:5px;
  padding:10px;
  margin-top:20px;
  margin-left:24px;
  box-shadow:1px 1px 5px rgba(0,0,0,.4);
}
.profile .name {
  font-weight:bold;
  font-size:1em;
  position:absolute;
  top:10px;
  left:120px;
}
.profile .level {
  position:absolute;
  top:40px;
  left:120px;
  font-size:12px;
}
.profileIcon {
  width:80px;
  height:80px;
  border-radius:60em;
  background-color:rgba(0,0,0,.3);
}
